doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Polynomial Calculator
        body
            div.container.list-group
                div.text-center
                    h1 Polynomial Calculator
                    p Result
                    block content