body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.result
{
  margin: 40px auto;
  padding: auto;
  font-size: x-large;
  width: 50%;
  color: black;
}